@use '../abstracts' as a;

.cart {
  background: a.$main-complementary;
  min-height: 100vh;
  max-height: auto;
  // padding: 10rem;
  @include a.media('>=desktop') {
    // max-width: 1000px;
    display: grid;
    grid-template-columns: 350px 1fr 1fr 350px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: a.$medium-gray;
    padding: 1rem;
    color: a.$font-clr;
  }
  &__items {
    @include a.media('>=desktop') {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // gap: 3rem;
      grid-column: 2 / 3;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__title {
    font-size: a.$fs-500;
    font-weight: 300;
  }
  &__items {
    padding: 1rem;
  }
  &__remove-btn {
    background: transparent;
    border: none;
    color: a.$font-clr;
  }
  &__total-wrapper {
    background: a.$medium-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    min-height: 50px;
    bottom: 0;
    bottom: 7.7rem;
    width: 100%;
    @include a.media('>=desktop') {
      grid-column: 3 / 4;
      align-self: start;
      justify-self: center;
      flex-flow: column;
      width: 50%;
    }
  }
  &__btn {
    background: a.$main-yellow;
    color: a.$font-dark-gray;
    font-size: a.$fs-300;
    border: none;
    border-radius: 100rem;
    padding: 0.5rem;
    font-weight: 300;
  }
  &__total-desc {
    color: a.$font-clr;
    font-size: a.$fs-400;
  }
}
