@use '../abstracts' as a;

.history {
  margin-top: 5rem;
  position: relative;

  &__single-order {
    margin-top: 2rem;
    border-bottom: 1px solid #fff;
  }

  &__item-name {
    font-size: a.$fs-400;
  }
  &__single-item {
    margin-top: 1.5rem;
  }
  &__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }
  &__item-quantity {
    color: a.$font-gray-clr;
    font-size: a.$fs-300;
  }
  &__item-price {
    font-size: a.$fs-300;
    color: a.$font-clr;
  }
  &__order-info {
    margin-top: 4rem;
  }
  &__info-wrapper {
    margin: 2rem 0;
  }
  &__order-details {
    color: a.$font-gray-clr;
    font-size: a.$fs-300;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  &__details-id {
    color: a.$main-yellow;
  }
  &__details-price {
    color: a.$main-yellow;
    font-weight: 700;
  }
  &__order-status {
    display: flex;
    justify-content: space-between;
    font-size: a.$fs-400;
    color: a.$font-clr;
    margin-bottom: 2rem;
  }
  &__container-actions {
    text-align: right;
  }
  &__delete-btn {
    background: a.$bright-red;
    color: a.$font-clr;
    border: none;
    padding: 0.5rem;
    margin: 2rem 0;
  }
  &__info {
    text-align: center;
    color: a.$font-gray-clr;
    font-size: a.$fs-300;
  }
}
