@use '../abstracts' as a;
@use '../abstracts/mixins' as mix;

.main {
  background: a.$main-complementary;
  min-height: 100vh;
  padding: 2rem;

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    background: a.$medium-gray;
    padding: 0.5rem 0 0.5rem 2rem;
  }
  &__search-text {
    font-size: a.$fs-300;
    color: a.$font-gray-clr;
  }
  &__icon {
    margin-right: 0.5rem;
    border-radius: 100rem;
    background: a.$main-yellow;
    height: 3.8rem;
    width: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .fa-search {
      color: a.$medium-gray;
      font-size: a.$fs-300;
    }
  }
  &__heading-3 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-weight: 400;
  }
  &__bestsellers {
    display: flex;
    background: a.$medium-gray;
    overflow-x: scroll;
    padding: 1rem 1rem 2rem 1rem;
  }
  &__bestsellers::-webkit-scrollbar {
    height: 5px;
  }
  &__bestsellers::-webkit-scrollbar-track {
    border-radius: 100rem;
  }
  &__bestsellers::-webkit-scrollbar-thumb {
    background: a.$main-yellow;
    border-radius: 100rem;
  }
  &__heading-4 {
    margin: 4rem 0;
  }
  &__categories {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 1rem 2rem 0rem;
    .category {
      min-width: 9rem;
      margin-right: 2rem;
      text-align: center;

      &__img {
        width: 9rem;
        height: 9rem;
        border-radius: 100rem;
      }
      &__description {
        margin-top: 1rem;
        color: a.$font-clr;
        font-size: a.$fs-300;
        font-weight: 100;
      }
    }
  }
  &__categories::-webkit-scrollbar {
    height: 4px;
  }
  &__categories::-webkit-scrollbar-track {
    border-radius: 100rem;
  }
  &__categories::-webkit-scrollbar-thumb {
    background: a.$main-yellow;
    border-radius: 100rem;
  }
}

.bestsellers {
  margin: 0 5px;
  background: a.$medium-gray;
  width: 14rem;
  color: a.$font-clr;
  text-align: right;
  position: relative;

  &__price {
    margin-top: 1rem;
    font-weight: 200;
    font-size: a.$fs-200;
    text-align: left;
  }
  &__name {
    font-size: a.$fs-300;
    text-align: left;
    margin-top: 0.7rem;
  }
  &__icon-add {
    background: a.$main-yellow;
    padding: 0.5rem;
    position: absolute;
    top: 0rem;
    left: 0;
    color: a.$dark-gray;
    font-size: a.$fs-200;
    border: none;
  }
  &__img-container {
    height: 15rem;
    width: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__cart-btn {
    border: none;
    background: transparent;
    color: a.$main-yellow;
    margin-top: 1rem;
  }
}

.product {
  position: relative;
  background: a.$dark-gray;
  display: flex;
  margin-top: 2rem;
  border-radius: 5px;
  min-height: 10rem;

  &__container-img {
    width: 10rem;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    min-height: 10rem;
    max-height: 10rem;
    width: 100%;
    border-radius: 5px 0 0 5px;
  }
  &__data {
    flex: 1;
    padding: 1rem 1rem 1rem 2rem;
    color: a.$font-clr;
    background: a.$dark-gray;
  }
  &__price {
    font-size: a.$fs-200;
  }
  &__name {
    font-size: a.$fs-300;
    padding: 1rem 0;
    text-transform: capitalize;
  }
  &__description {
    font-size: a.$fs-200;
    font-weight: 100;
  }
  &__description::first-letter {
    text-transform: uppercase;
  }
  &__icon-add {
    position: absolute;
    top: 0.5rem;
    color: a.$font-clr;
    font-size: 1.7rem;
    right: 0.5rem;
  }
}
.product--searched {
  min-height: 6.2rem;
  max-height: 8rem;

  .product__price {
    margin-top: 1rem;
  }
  .product__data {
    border-radius: 100rem;
  }

  .product__name {
    margin-bottom: 2rem;
  }
  .product__container-img {
    width: 6rem;
  }
  .product__img {
    border-radius: 4px;
    min-height: 6.2rem;
    max-height: 6.2rem;
    width: 100%;
  }
}

.menu {
  position: sticky;
  width: 100%;
  bottom: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: a.$dark-gray;
    padding: 1.5rem 2.5rem;
  }
  &__item {
    text-align: center;
    .fa-home,
    .fa-shopping-basket,
    .fa-user,
    .fa-sign-in-alt {
      color: a.$font-clr;
    }
  }
  &__describe {
    color: a.$font-clr;
    font-weight: 200;
    font-size: 1.5rem;
  }
  &__item--active {
    color: a.$main-yellow;
    .fa-home,
    .fa-shopping-basket,
    .fa-user,
    .menu__describe {
      color: inherit;
    }
  }
}

.footer {
  color: a.$font-clr;
  background: a.$dark-gray;
  padding: 2rem;

  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    list-style: none;
  }
  &__copy {
    margin-top: 2rem;
    text-align: center;
    font-size: a.$fs-300;
  }
  &__item {
    margin-top: 1rem;
    font-size: a.$fs-300;
  }
  &__section {
    flex: 1;
  }
  &__section--right {
    border-left: 1px solid a.$main-yellow;
    .footer__list {
      .footer__item {
        text-align: right;
      }
    }
  }
}
.link-back {
  font-size: a.$fs-300;
  color: a.$font-clr;
  margin-bottom: 2rem;
  display: inline-block;
}
.products-container {
  padding: 2rem;
  background: a.$main-complementary;
  min-height: 100vh;
  &__title {
    color: a.$font-clr;
    font-size: 1.8rem;
  }
  &__name {
    font-weight: 900;
    color: a.$main-yellow;
  }
  &__select {
    background: a.$dark-gray;
    color: a.$font-clr;
    padding: 1rem;
    border: none;
    margin-top: 1rem;
  }
  &__option {
    margin-top: 2rem;
    font-size: 1.7rem;
    color: a.$font-clr;
  }
  &__current {
    text-transform: capitalize;
  }
}
// @keyframes jumping {
//   0% {
//     transform: scale(1);
//     transform: translateY(0px);
//   }
//   50% {
//     transform: scale(1.2);
//     transform: translateY(20px);
//   }
//   100% {
//     transform: scale(1);
//     transform: translateY(0px);
//   }
// }
// .loading {
//   margin-top: 5rem;

//   &__container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   &__text {
//     margin-top: 3rem;
//     color: a.$font-clr;
//     font-size: a.$fs-300;
//     text-align: center;
//   }
//   &__circle {
//     height: 3rem;
//     width: 3rem;
//     background: a.$main-yellow;
//     border-radius: 10rem;
//     margin: 0 1rem;
//     animation-name: jumping;
//     animation-delay: 1s;
//     animation-iteration-count: infinite;
//     animation-duration: 2s;
//   }
//   &__circle--1 {
//     animation-name: jumping;
//     animation-iteration-count: infinite;
//     animation-duration: 2s;
//   }
//   &__circle--2 {
//     animation-name: jumping;
//     animation-delay: 1s;
//     animation-iteration-count: infinite;
//     animation-duration: 1s;
//   }
//   &__circle--3 {
//     animation-name: jumping;
//     animation-delay: 2s;
//     animation-iteration-count: infinite;
//     animation-duration: 2s;
//   }
// }
.all-products {
  padding: 2rem;
  background: a.$main-complementary;
  height: 100vh;
  overflow-x: hidden;
  overflow: auto;

  &__container-search {
    border-radius: 100rem;
    background: a.$main-yellow;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-content: center;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fa-search {
      color: #000;
    }
  }
  &__container-input {
    display: flex;
    justify-content: center;
    align-items: stretch;

    border-bottom: 2px solid a.$light-gray;
    padding-bottom: 1rem;
  }
  // &__container-input:focus-within {
  //   outline: none;
  //   border: 1px solid a.$main-yellow;
  //   // border-left: none;
  // }
  &__container-icon {
    padding: 1rem;
    border-radius: 10rem 0rem 0rem 10rem;
  }
  &__input {
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 0 10rem 10rem 0;
    background-color: a.$medium-gray;
    color: a.$font-clr;
    font-size: a.$fs-300;
  }
  &__input:focus {
    outline: none;
    border: 1px solid a.$main-yellow;
    // border-left: none;
  }
  .fa-arrow-left {
    color: a.$font-clr;
  }
  &__select {
    background: #23252f;
    border: none;
    padding: 1rem;
    color: #fff;
    margin-top: 2rem;
    text-transform: capitalize;
  }
  &__select--left {
    margin-left: 1rem;
  }
  &__container-information {
    margin-bottom: 10rem;
  }
  &__information {
    color: a.$font-clr;
    font-size: a.$fs-300;
    text-align: center;
  }
  &__information-category {
    color: a.$main-yellow;
  }
  &__search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: a.$medium-gray;
    width: 100%;
    height: 100vh;
    padding: 2rem;
  }
  &__results {
    overflow-y: scroll;
    max-height: 90vh;
    padding-bottom: 10rem;
  }

  &__results::-webkit-scrollbar {
    height: 1px;
    width: 1px;
  }
  &__results::-webkit-scrollbar-track {
    border-radius: 100rem;
  }
  &__results::-webkit-scrollbar-thumb {
    background: a.$main-yellow;
    border-radius: 100rem;
  }
  &__loading-status {
    font-size: a.$fs-300;
    color: a.$font-clr;
    padding: 1rem 0;
  }
  &__loading-item {
    color: a.$main-yellow;
    font-weight: 500;
  }
  &__loading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.isBottom {
  margin-bottom: 5rem;
}
.close {
  height: 3rem;
  width: 3rem;
  border-radius: 100rem;
  background: tomato;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 20;
}

.container-form {
  background: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form > div {
  text-align: right;
}
.container-form > div > label {
  display: block;
  background: #23252f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}
.container-form > div > label > input {
  margin-left: 40px;
  padding: 0.7rem 1rem;
}
.container-form > div > button {
  background: rgb(4, 4, 66);
  color: #fff;
  padding: 1rem 4rem;
  border: a.$border-width solid rgb(68, 68, 68);
  font-size: 18px;
  margin-top: 10px;
}
.animation {
  font-size: a.$fs-500;
  font-weight: 500;
}
