@use '../abstracts' as a;
@use '../abstracts/mixins' as mix;

.main {
  background: a.$main-complementary;
  min-height: 100vh;
  // padding: 3rem 2rem 2rem 2rem;

  &__restocked {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 3rem 2rem;
    width: 70%;
    margin: 3rem auto;
    @include a.media('>=phone', '<=tablet') {
      width: 100%;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @include a.media('>=tablet', '<=desktop') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__icon {
    margin-right: 0.5rem;
    border-radius: 100rem;
    background: a.$main-yellow;
    height: 3.8rem;
    width: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .fa-search {
      color: a.$medium-gray;
      font-size: a.$fs-300;
    }
  }
  &__heading-3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 400;
    @include a.media('>=desktop') {
      text-align: center;
      font-size: a.$fs-500;
    }
  }

  &__heading-4 {
    margin: 4rem 0;
    @include a.media('>=desktop') {
      text-align: center;
      font-size: a.$fs-500;
    }
  }
  &__categories {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 1rem 2rem 0rem;
    @include a.media('>=desktop') {
      display: grid;
      max-width: 1000px;
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      margin: 0 auto;
      gap: 3rem 0rem;
    }

    .category {
      min-width: 9rem;
      margin-right: 2rem;
      text-align: center;

      &__img {
        width: 9rem;
        height: 9rem;
        border-radius: 100rem;
      }
      &__description {
        margin-top: 1rem;
        color: a.$font-clr;
        font-size: a.$fs-300;
        font-weight: 100;
      }
    }
  }
  &__flow {
    display: flex;
    flex-flow: column nowrap;
  }
  &__flow-first-child {
    @include a.media('>=desktop') {
      order: 2;
    }
  }
  &__categories-wrapper {
    background: a.$medium-gray;
    padding: 0 2rem;
    margin-bottom: 4rem;
  }
  &__categories::-webkit-scrollbar {
    height: 4px;
  }
  &__categories::-webkit-scrollbar-track {
    border-radius: 100rem;
  }
  &__categories::-webkit-scrollbar-thumb {
    background: a.$main-yellow;
    border-radius: 100rem;
  }
  .button-restocked {
    @include a.btnFull(a.$fs-300, 0.5rem, 2px);
    max-width: 250px;
    margin: 3rem auto;
  }
}

.bestsellers {
  background: a.$medium-gray;
  color: a.$font-clr;
  display: grid;
  grid-auto-flow: column;
  margin: 0 1rem;

  @include a.media('>=desktop') {
    margin: 0 3rem;
  }
  &__add {
    @include a.btnFull($ft-size: a.$fs-200, $paddingD: 0.5rem);
  }
  &__link {
    grid-area: 1/1;
  }
  &__img-container {
    min-width: 13rem;
    max-width: 14rem;
    height: 14rem;
  }
  &__product-img {
    width: 100%;
    height: 100%;
  }
  &__data {
    justify-self: start;
  }
  &__price {
    margin: 1rem 0;
    font-size: a.$fs-200;
  }
  &__name {
    font-size: a.$fs-300;
  }
}

.product {
  position: relative;
  background: a.$dark-gray;
  display: flex;
  border-radius: 2px;
  min-height: 10rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  &__quantity {
    font-size: a.$fs-200;
  }

  &__container-img {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 5px 0 0 5px;
  }
  &__data {
    flex: 1;
    color: a.$font-clr;
    background: a.$dark-gray;
  }
  &__price {
    font-size: a.$fs-400;
    color: a.$font-clr;
  }
  &__name {
    font-size: a.$fs-300;
    padding: 1rem 0;
    text-transform: capitalize;
  }
  &__description {
    font-size: a.$fs-200;
    font-weight: 100;
  }
  &__description::first-letter {
    text-transform: uppercase;
  }
  &__icon-add {
    position: absolute;
    top: 0.5rem;
    color: a.$font-clr;
    font-size: 1.7rem;
    right: 0.5rem;
  }

  &__add {
    background: transparent;
    border: none;
    color: a.$font-clr;
  }
  &__add:focus {
    background-color: a.$main-yellow;
    color: a.$font-dark-gray;
  }
  &__action {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }
  .fa-plus {
    font-size: a.$fs-400;
  }
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 5;
  bottom: 0;
  @include a.media('>=desktop') {
    display: none;
  }

  &__logo {
    display: none;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: a.$dark-gray;
    padding: 1.5rem 2.5rem;
  }

  &__flow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__item {
    text-align: center;
    position: relative;

    .fa-home,
    .fa-shopping-basket,
    .fa-user,
    .fa-sign-in-alt {
      color: a.$font-clr;
    }
  }
  &__describe {
    color: a.$font-clr;
    font-weight: 200;
    font-size: 1.5rem;
  }
  &__item--active {
    color: a.$main-yellow;
    .fa-home,
    .fa-shopping-basket,
    .fa-user,
    .menu__describe {
      color: inherit;
    }
  }
  &__item-basket-icon {
    position: absolute;
    background: a.$bright-red;
    width: 2rem;
    height: 2rem;
    border-radius: 100rem;
    top: -0.9rem;
    right: -0.5rem;
  }
  &__item-basket-total {
    color: a.$font-clr;
    font-size: a.$fs-200;
    line-height: 2rem;
  }
}

.footer {
  color: a.$font-clr;
  background: a.$dark-gray;
  padding: 2rem;

  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    list-style: none;
  }
  &__copy {
    margin-top: 2rem;
    text-align: center;
    font-size: a.$fs-300;
  }
  &__item {
    margin-top: 1rem;
    font-size: a.$fs-300;
  }
  &__section {
    flex: 1;
  }
  &__section--right {
    border-left: 1px solid a.$main-yellow;
    .footer__list {
      .footer__item {
        text-align: right;
      }
    }
  }
}
.link-back {
  font-size: a.$fs-300;
  color: a.$font-clr;
  margin-bottom: 2rem;
  display: inline-block;
}
.products-container {
  padding: 2rem;
  background: a.$main-complementary;
  min-height: 100vh;
  &__title {
    color: a.$font-clr;
    font-size: 1.8rem;
  }
  &__name {
    font-weight: 900;
    color: a.$main-yellow;
  }
  &__select {
    background: a.$dark-gray;
    color: a.$font-clr;
    padding: 1rem;
    border: none;
    margin-top: 1rem;
  }
  &__option {
    margin-top: 2rem;
    font-size: 1.7rem;
    color: a.$font-clr;
  }
  &__current {
    text-transform: capitalize;
  }
}
.all-products {
  background: a.$main-complementary;
  height: auto;
  overflow-x: hidden;
  overflow: auto;

  &__wrapper-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8rem 5rem;
    margin: 4rem auto;

    @include a.media('>=desktop') {
      max-width: 1200px;
    }
    @include a.media('>=LGdesktop') {
      max-width: 1700px;
    }
    @include a.media('>=phone', '<=tablet') {
      padding: 3rem;
    }
  }

  &__select-actions {
    text-align: center;
  }
  &__select-actions--desktop {
    @include a.media('>=desktop') {
      display: none;
    }
  }
  &__container-search {
    border-radius: 100rem;
    background: a.$main-yellow;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-content: center;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fa-search {
      color: #000;
    }
  }
  &__container-input {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: a.$dark-gray;
  }
  &__container-icon {
    padding: 1rem;
    border-radius: 10rem 0rem 0rem 10rem;
  }
  &__input {
    padding: 0.5rem;
    width: 100%;
    border: none;
    background-color: a.$dark-gray;
    color: a.$font-clr;
    font-size: a.$fs-300;
  }
  .fa-arrow-left {
    color: a.$font-clr;
  }
  &__select {
    background: #23252f;
    border: none;
    padding: 1rem;
    color: #fff;
    text-transform: capitalize;
  }
  &__select--left {
    margin-left: 1rem;
  }
  &__container-information {
    margin-bottom: 10rem;
  }
  &__information {
    color: a.$font-clr;
    font-size: a.$fs-300;
    text-align: center;
  }
  &__information-category {
    color: a.$main-yellow;
  }
  &__search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: a.$main-complementary;
    width: 100%;
    height: 100vh;
    padding: 2rem;
  }
  &__results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem 4rem;
    overflow-y: scroll;
    max-height: 90vh;
    padding-bottom: 15rem;
    padding: 2rem;
  }

  &__results::-webkit-scrollbar {
    height: 1px;
    width: 1rem;
  }
  &__results::-webkit-scrollbar-track {
    border-radius: 100rem;
  }
  &__results::-webkit-scrollbar-thumb {
    background: a.$main-yellow;
    border-radius: 100rem;
  }
  &__loading-status {
    font-size: a.$fs-300;
    color: a.$font-clr;
    padding: 1rem 0;
  }
  &__loading-item {
    color: a.$main-yellow;
    font-weight: 500;
  }
  &__loading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  }
  &__recent-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  &__recent {
    font-size: a.$fs-300;
    color: a.$font-clr;
    display: flex;
    margin: 1rem;
    padding: 0.5rem 0;
    justify-content: space-between;
  }
  &__recent-item {
    background-color: a.$dark-gray;
    border-radius: 2px;
    font-size: a.$fs-300;
    color: a.$font-clr;
    padding: 0.5rem 0.9rem;
    margin: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__btn-remove {
    border: none;
    color: a.$bright-red;
    background: transparent;
    font-size: a.$fs-300;
    margin-left: 0.5rem;
  }
  &__search-btn {
    background: transparent;
    border: none;
    color: a.$font-clr;
    margin-left: 1rem;
    padding: 0 0 0.5rem;

    .fa-search,
    .fa-microphone,
    .fa-microphone-slash,
    .fa-circle {
      font-size: a.$fs-300;
    }
    .fa-circle {
      color: a.$bright-red;
    }
  }
  &__search-btn--mic {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__container-input:focus-within {
    outline: 2px solid a.$main-yellow;
    outline-offset: 3px;
  }
  &__input:focus {
    outline: none;
  }
}
.custom__scrollBar {
  display: flex;
  background: a.$medium-gray;
  overflow-x: scroll;
  padding: 1rem 1rem 2rem 0;
}
.custom__scrollBar::-webkit-scrollbar {
  height: 5px;
}
.custom__scrollBar::-webkit-scrollbar-track {
  border-radius: 100rem;
}
.custom__scrollBar::-webkit-scrollbar-thumb {
  background: a.$main-yellow;
  border-radius: 100rem;
}
.isBottom {
  margin-bottom: 5rem;
}
.close {
  height: 3rem;
  width: 3rem;
  border-radius: 100rem;
  background: tomato;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 20;
}

.container-form {
  background: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form > div {
  text-align: right;
}
.container-form > div > label {
  display: block;
  background: #23252f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}
.container-form > div > label > input {
  margin-left: 40px;
  padding: 0.7rem 1rem;
}
.container-form > div > button {
  background: rgb(4, 4, 66);
  color: #fff;
  padding: 1rem 4rem;
  border: a.$border-width solid rgb(68, 68, 68);
  font-size: 18px;
  margin-top: 10px;
}
