@use '../abstracts' as a;
@use '../abstracts/mixins' as mix;

.main {
  background: a.$main-complementary;
  min-height: 100vh;
  padding: 2rem;

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
    background: a.$medium-gray;
    padding: 0.5rem 0 0.5rem 2rem;
  }
  &__search-text {
    font-size: a.$fs-300;
    color: a.$font-gray-clr;
  }
  &__icon {
    margin-right: 0.5rem;
    border-radius: 100rem;
    background: a.$main-yellow;
    height: 3.8rem;
    width: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .fa-search {
      color: a.$medium-gray;
      font-size: a.$fs-300;
    }
  }
  &__heading-3 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-weight: 400;
  }
  &__bestsellers {
    display: flex;
    background: a.$medium-gray;
    overflow-x: scroll;
    padding: 1rem 1rem 2rem 1rem;
  }
  &__bestsellers::-webkit-scrollbar {
    height: 5px;
  }
  &__bestsellers::-webkit-scrollbar-track {
    border-radius: 100rem;
  }
  &__bestsellers::-webkit-scrollbar-thumb {
    background: a.$main-yellow;
    border-radius: 100rem;
  }
  &__heading-4 {
    margin: 4rem 0;
  }
  &__categories {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 1rem 2rem 0rem;
    .category {
      min-width: 9rem;
      margin-right: 2rem;
      text-align: center;

      &__img {
        width: 9rem;
        height: 9rem;
        border-radius: 100rem;
      }
      &__description {
        margin-top: 1rem;
        color: a.$font-clr;
        font-size: a.$fs-300;
        font-weight: 100;
      }
    }
  }
  &__categories::-webkit-scrollbar {
    height: 4px;
  }
  &__categories::-webkit-scrollbar-track {
    border-radius: 100rem;
  }
  &__categories::-webkit-scrollbar-thumb {
    background: a.$main-yellow;
    border-radius: 100rem;
  }
}

.bestsellers {
  background: a.$medium-gray;
  color: a.$font-clr;
  display: grid;
  margin: 0 1rem;

  &__add {
    height: 25px;
    background-color: a.$main-yellow;
    border: none;
    color: a.$font-dark-gray;
    padding: 0.5rem;
  }
  &__link {
    grid-area: 1/1;
  }
  &__img-container {
    min-width: 13rem;
    max-width: 14rem;
    height: 14rem;
  }
  &__product-img {
    width: 100%;
    height: 100%;
  }
  &__data {
    justify-self: start;
  }
  &__price {
    margin: 1rem 0;
    font-size: a.$fs-200;
  }
  &__name {
    font-size: a.$fs-300;
  }
}

.product {
  position: relative;
  background: a.$dark-gray;
  display: flex;
  margin-top: 2rem;
  border-radius: 5px;
  min-height: 10rem;

  &__quantity {
    font-size: a.$fs-200;
  }
  &__container-img {
    width: 10rem;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    min-height: 10rem;
    max-height: 10rem;
    width: 100%;
    border-radius: 5px 0 0 5px;
  }
  &__data {
    flex: 1;
    padding: 1rem 1rem 1rem 2rem;
    color: a.$font-clr;
    background: a.$dark-gray;
  }
  &__price {
    font-size: a.$fs-200;
  }
  &__name {
    font-size: a.$fs-300;
    padding: 1rem 0;
    text-transform: capitalize;
  }
  &__description {
    font-size: a.$fs-200;
    font-weight: 100;
  }
  &__description::first-letter {
    text-transform: uppercase;
  }
  &__icon-add {
    position: absolute;
    top: 0.5rem;
    color: a.$font-clr;
    font-size: 1.7rem;
    right: 0.5rem;
  }
  &__btns-container {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__btns-container--left {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    padding: 1rem;
  }
  &__add {
    background: transparent;
    padding: 1rem;
    border: none;
    color: a.$font-clr;
  }
  &__add:focus {
    background-color: a.$main-yellow;
    color: a.$font-dark-gray;
  }
}
.product--searched {
  min-height: 6.2rem;
  max-height: 8rem;

  .product__price {
    margin-top: 1rem;
  }
  .product__data {
    border-radius: 100rem;
  }

  .product__name {
    margin-bottom: 2rem;
  }
  .product__container-img {
    width: 6rem;
  }
  .product__img {
    border-radius: 4px;
    min-height: 6.2rem;
    max-height: 6.2rem;
    width: 100%;
  }
}

.menu {
  position: sticky;
  width: 100%;
  bottom: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: a.$dark-gray;
    padding: 1.5rem 2.5rem;
  }
  &__item {
    text-align: center;
    .fa-home,
    .fa-shopping-basket,
    .fa-user,
    .fa-sign-in-alt {
      color: a.$font-clr;
    }
  }
  &__describe {
    color: a.$font-clr;
    font-weight: 200;
    font-size: 1.5rem;
  }
  &__item--active {
    color: a.$main-yellow;
    .fa-home,
    .fa-shopping-basket,
    .fa-user,
    .menu__describe {
      color: inherit;
    }
  }
  &__item-basket-icon {
    position: relative;
  }
  &__item-basket-total {
    color: a.$font-clr;
    font-size: a.$fs-200;
    background: a.$bright-red;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    border-radius: 100rem;
  }
}

.footer {
  color: a.$font-clr;
  background: a.$dark-gray;
  padding: 2rem;

  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    list-style: none;
  }
  &__copy {
    margin-top: 2rem;
    text-align: center;
    font-size: a.$fs-300;
  }
  &__item {
    margin-top: 1rem;
    font-size: a.$fs-300;
  }
  &__section {
    flex: 1;
  }
  &__section--right {
    border-left: 1px solid a.$main-yellow;
    .footer__list {
      .footer__item {
        text-align: right;
      }
    }
  }
}
.link-back {
  font-size: a.$fs-300;
  color: a.$font-clr;
  margin-bottom: 2rem;
  display: inline-block;
}
.products-container {
  padding: 2rem;
  background: a.$main-complementary;
  min-height: 100vh;
  &__title {
    color: a.$font-clr;
    font-size: 1.8rem;
  }
  &__name {
    font-weight: 900;
    color: a.$main-yellow;
  }
  &__select {
    background: a.$dark-gray;
    color: a.$font-clr;
    padding: 1rem;
    border: none;
    margin-top: 1rem;
  }
  &__option {
    margin-top: 2rem;
    font-size: 1.7rem;
    color: a.$font-clr;
  }
  &__current {
    text-transform: capitalize;
  }
}
.all-products {
  padding: 2rem;
  background: a.$main-complementary;
  height: 100vh;
  overflow-x: hidden;
  overflow: auto;

  &__container-search {
    border-radius: 100rem;
    background: a.$main-yellow;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-content: center;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fa-search {
      color: #000;
    }
  }
  &__container-input {
    display: flex;
    justify-content: center;
    align-items: stretch;

    border-bottom: 2px solid a.$light-gray;
    padding-bottom: 1rem;
  }
  &__container-icon {
    padding: 1rem;
    border-radius: 10rem 0rem 0rem 10rem;
  }
  &__input {
    padding: 0.5rem;
    width: 100%;
    border: none;

    background-color: a.$medium-gray;
    color: a.$font-clr;
    font-size: a.$fs-300;
  }
  &__input:focus {
    outline: none;
    border: 1px solid a.$main-yellow;
  }
  .fa-arrow-left {
    color: a.$font-clr;
  }
  &__select {
    background: #23252f;
    border: none;
    padding: 1rem;
    color: #fff;
    margin-top: 2rem;
    text-transform: capitalize;
  }
  &__select--left {
    margin-left: 1rem;
  }
  &__container-information {
    margin-bottom: 10rem;
  }
  &__information {
    color: a.$font-clr;
    font-size: a.$fs-300;
    text-align: center;
  }
  &__information-category {
    color: a.$main-yellow;
  }
  &__search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: a.$medium-gray;
    width: 100%;
    height: 100vh;
    padding: 2rem;
  }
  &__results {
    overflow-y: scroll;
    max-height: 90vh;
    padding-bottom: 15rem;
  }

  &__results::-webkit-scrollbar {
    height: 1px;
    width: 1px;
  }
  &__results::-webkit-scrollbar-track {
    border-radius: 100rem;
  }
  &__results::-webkit-scrollbar-thumb {
    background: a.$main-yellow;
    border-radius: 100rem;
  }
  &__loading-status {
    font-size: a.$fs-300;
    color: a.$font-clr;
    padding: 1rem 0;
  }
  &__loading-item {
    color: a.$main-yellow;
    font-weight: 500;
  }
  &__loading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__recent-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  &__recent {
    font-size: a.$fs-300;
    color: a.$font-clr;
    display: flex;
    margin: 1rem;
    padding: 0.5rem 0;
    justify-content: space-between;
  }
  &__recent-item {
    background-color: a.$main-complementary;
    border-radius: 100rem;
    font-size: a.$fs-300;
    color: a.$font-clr;
    padding: 0.9rem;
    margin: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__btn-remove {
    border: none;
    color: a.$bright-red;
    background: transparent;
    font-size: a.$fs-300;
    margin-left: 0.5rem;
  }
  &__search-btn {
    background: transparent;
    border: none;
    color: a.$font-clr;
    margin-left: 1rem;
    padding: 0 0 0.5rem;
  }
  &__search-btn:focus {
    background: a.$main-yellow;
    color: a.$font-dark-gray;
  }
}
.isBottom {
  margin-bottom: 5rem;
}
.close {
  height: 3rem;
  width: 3rem;
  border-radius: 100rem;
  background: tomato;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 20;
}

.container-form {
  background: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form > div {
  text-align: right;
}
.container-form > div > label {
  display: block;
  background: #23252f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}
.container-form > div > label > input {
  margin-left: 40px;
  padding: 0.7rem 1rem;
}
.container-form > div > button {
  background: rgb(4, 4, 66);
  color: #fff;
  padding: 1rem 4rem;
  border: a.$border-width solid rgb(68, 68, 68);
  font-size: 18px;
  margin-top: 10px;
}
