@use '../abstracts' as a;

.order {
  min-height: 100vh;
  background: a.$main-complementary;
  @include a.media('>=desktop') {
    display: grid;
    grid-template-columns: 200px repeat(6, 1fr) 200px;
    gap: 2rem;
    padding: 3rem;
  }
  &__shipping-container {
    background: a.$medium-gray;
    margin-top: 2rem;
    color: a.$font-clr;
    padding: 1rem;

    @include a.media('>=desktop') {
      grid-column: 6/8;
      align-self: start;
      grid-row: 1/2;
    }
  }
  &__shipping {
    font-size: a.$fs-400;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__shipping-change {
    color: a.$main-yellow;
    font-size: a.$fs-300;
  }
  &__address-user {
    margin-top: 1rem;
    font-size: a.$fs-300;
    color: a.$font-gray-clr;
  }
  &__payment-container {
    margin-top: 2rem;
  }
  &__payment-method {
    font-size: a.$fs-400;
    color: a.$font-clr;
    padding: 1rem;
  }
  &__container-methods {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__method {
    min-width: 10rem;
    max-width: 14rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__method-img {
    width: 6rem;
  }

  &__method--active {
    border: 1px solid a.$main-yellow;
    box-shadow: 0 0 10px -2px a.$main-yellow;
  }

  &__items {
    background: a.$medium-gray;
    margin-top: 6rem;
    padding: 1rem;
    color: a.$font-clr;
    @include a.media('>=desktop') {
      grid-column: 2/6;
      grid-row: 1/2;
      margin-top: 2rem;
    }
  }

  &__summary {
    background: a.$medium-gray;
    margin-top: 2rem;
    color: a.$font-clr;
    padding: 1rem;
    @include a.media('>=desktop') {
      grid-column: 2/6;
      grid-row: 2/3;
    }
  }
  &__title {
    font-size: a.$fs-400;
  }
  &__info {
    margin-top: 1rem;
    font-size: a.$fs-300;
    color: a.$font-gray-clr;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__message--saved {
    font-size: a.$fs-300;
    padding: 2rem 0;
  }
  &__total {
    color: a.$font-clr;
    font-weight: bolder;
  }
  &__bar {
    background: a.$medium-gray;
    padding: 2rem 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: a.$font-clr;
    font-size: a.$fs-300;
    @include a.media('>=desktop') {
      grid-column: 6/8;
      grid-row: 1/2;
      align-self: center;
      margin-top: 0;
    }
  }
  &__btn {
    @include a.btnEmpty();
    margin-top: 2rem;
  }

  &__shipping-data {
    text-align: center;
  }
  &__enter {
    font-size: a.$fs-300;
  }
  &__label {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: a.$fs-200;
  }
  &__input {
    background: a.$main-complementary;
    border: none;
    padding: 0.5rem;
  }
  &__save-btn {
    @include a.btnFull();
    width: 100%;
    margin-top: 2rem;
  }

  .fa-user,
  .fa-road,
  .fa-map-marker,
  .fa-envelope,
  .fa-gavel,
  .fa-phone-alt {
    font-size: a.$fs-300;
    color: a.$font-clr;
  }

  &__table {
    color: a.$font-gray-clr;
    background-color: a.$medium-gray;
    border-radius: 3px;
    font-size: a.$fs-300;
    text-align: left;
    margin: 4rem 0.5rem;
    border-collapse: collapse;
    @include a.media('>=desktop') {
      grid-column: 2/6;
      margin: 0;
    }

    &-id {
      color: a.$main-yellow;
      font-weight: 700;
    }
    td,
    th {
      border: 1px solid a.$font-gray-clr;
      padding: 1rem;
    }

    td {
      padding-right: 2rem;
      width: 100%;
      color: a.$font-clr;
      border-right: none;
    }
    th {
      border-left: none;
    }

    &-orderId {
      text-align: center;
      padding: 2rem;
      font-size: a.$fs-400;
    }
  }
  &__list {
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      color: a.$font-gray-clr;

      span {
        color: a.$font-clr;
      }
    }
  }
  &__rating {
    @include a.media('>=desktop') {
      grid-row: 2/3;
      grid-column: 1/-1;
      margin: 2rem 0;
    }
  }
  &__rate {
    color: a.$font-gray-clr;
    text-align: center;
  }
  &__rate::first-letter {
    color: a.$main-yellow;
  }
  &__link {
    text-decoration: underline;
  }
  &__list-wrapper {
    margin-bottom: 1rem;
  }
  &__review {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    background: a.$medium-gray;
    @include a.media('>=desktop') {
      grid-column: 6/8;
      align-self: start;
    }
  }
  &__review-header {
    margin-bottom: 2rem;
  }
  &__review-area {
    resize: none;
  }
  &__select-wrapper {
    margin: 2rem 0;
  }
  &__select {
    display: flex;
    align-items: center;
  }
  &__select-desc {
    color: a.$font-clr;
    font-size: a.$fs-200;
    margin: 0.25rem 0 0 1rem;
  }
  &__message {
    color: a.$font-clr;
    font-size: a.$fs-300;
    text-align: center;
    margin: 1rem 0;
  }
}
