@use '../abstracts' as a;
.settings {
  background-color: a.$main-complementary;
  min-height: 100vh;

  &__section {
    background-color: a.$medium-gray;
    margin: 2rem 0;
    padding: 2rem 1rem;
  }
  &__txt--dimmed {
    color: a.$font-gray-clr;
    font-size: a.$fs-300;
  }
  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__change-btn {
    border: none;
    background: transparent;
    color: a.$main-yellow;
  }
  &__header-medium {
    color: a.$font-clr;
    text-align: center;
  }
  &__joined-date {
    text-align: center;
    color: a.$main-yellow;
    font-size: a.$fs-400;
  }
  &__shipping-address-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
  }
  &__payments-methods {
    background: a.$dark-gray;
    padding: 1rem;
  }
  &__txt--header {
    color: a.$font-clr;
    font-size: a.$fs-300;
  }
  &__button {
    @include a.btnFull();
    width: 100%;
  }
  &__button-update {
    margin-top: 2rem;
  }
  &__main {
    @include a.media('>=desktop') {
      display: grid;
      grid-template-columns: 200px 1fr 1fr 200px;

      gap: 5rem 2rem;
    }
  }
  &__welcome {
    @include a.media('>=desktop') {
      grid-column: 2/3;
      align-self: start;
      grid-row: 1/2;
    }
  }
  &__joined {
    @include a.media('>=desktop') {
      grid-row: 1/2;
      grid-column: 2/3;
      align-self: center;
    }
  }
  &__account-information {
    @include a.media('>=desktop') {
      grid-column: 3/4;
      align-self: stretch;
      margin: 2rem 0 0 0;
    }
  }
  &__orders-history {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: a.$medium-gray;
    padding: 2rem;
  }
  &__payments-methods {
    background-color: a.$medium-gray;
    @include a.media('>=desktop') {
      grid-column: 2/3;
      grid-row-end: span 2;
      justify-self: stretch;
      align-self: start;
      margin-top: 0;
    }
  }
  &__header-small {
    font-weight: 300;
    color: a.$font-clr;
    font-size: a.$fs-400;
    margin-bottom: 1rem;
  }
  &__container-logout {
    text-align: center;
    margin-bottom: 2rem;

    @include a.media('>=desktop') {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: end;
      margin: 0;

      .settings__button {
        width: 100%;
      }
    }
  }

  .fa-city,
  .fa-map-marker,
  .fa-phone-alt,
  .fa-envelope,
  .fa-mountain,
  .fa-road {
    color: #fff;
    font-size: a.$fs-300;
  }
}
