@use '../abstracts' as a;
.settings {
  background-color: a.$main-complementary;
  min-height: 100vh;

  &__section {
    background-color: a.$dark-gray;
    margin: 2rem 0;
    padding: 2rem 1rem;
  }
  &__txt--dimmed {
    color: a.$font-gray-clr;
    font-size: a.$fs-300;
  }
  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
  }
  &__change-btn {
    border: none;
    background: transparent;
    color: a.$main-yellow;
  }
  &__header-medium {
    color: a.$font-clr;
    text-align: center;
  }
  &__joined-date {
    text-align: center;
    color: a.$main-yellow;
    font-size: a.$fs-400;
  }
  &__shipping-address-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
  }
  &__txt--header {
    color: a.$font-clr;
    font-size: a.$fs-300;
  }
  .fa-city,
  .fa-map-marker,
  .fa-phone-alt,
  .fa-envelope,
  .fa-mountain,
  .fa-road {
    color: #fff;
    font-size: a.$fs-300;
  }
}
