$main-yellow: #fac646;
$main-complementary: #31343a;
$light-gray: #d0d0d0;
$medium-gray: #23252f;
$dark-gray: #1a1d22;
$bright-red: #fa4646;

//font colors
$font-clr: #eaeae7;
$font-white-clr: #f8f8f8;
$font-gray-clr: #929292;
$font-yellowish-clr: #fef9f0;
$font-red-clr: #fa4646;
