// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use '../abstracts' as a;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Hind', sans-serif;
  scroll-behavior: smooth;
}

h3 {
  font-size: a.$fs-500;
  color: a.$main-yellow;
}

h4 {
  font-size: a.$fs-400;
  color: a.$font-clr;
  font-weight: 400;
}
h5 {
  font-size: a.$fs-300;
  color: a.$font-clr;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}
