/**
*
* Testing
*
**/
.main {
  background: #31343a;
  min-height: 100vh;
}
.main__restocked {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 3rem 2rem;
  width: 70%;
  margin: 3rem auto;
}
@media (min-width: 360px) and (max-width: 768px) {
  .main__restocked {
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1366px) {
  .main__restocked {
    grid-template-columns: repeat(3, 1fr);
  }
}
.main__icon {
  margin-right: 0.5rem;
  border-radius: 100rem;
  background: #fac646;
  height: 3.8rem;
  width: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__icon .fa-search {
  color: #23252f;
  font-size: 1.6rem;
}
.main__heading-3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
@media (min-width: 1366px) {
  .main__heading-3 {
    text-align: center;
    font-size: 2.8rem;
  }
}
.main__heading-4 {
  margin: 4rem 0;
}
@media (min-width: 1366px) {
  .main__heading-4 {
    text-align: center;
    font-size: 2.8rem;
  }
}
.main__categories {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 1rem 2rem 0rem;
}
@media (min-width: 1366px) {
  .main__categories {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    margin: 0 auto;
    gap: 3rem 0rem;
  }
}
.main__categories .category {
  min-width: 9rem;
  margin-right: 2rem;
  text-align: center;
}
.main__categories .category__img {
  width: 9rem;
  height: 9rem;
  border-radius: 100rem;
}
.main__categories .category__description {
  margin-top: 1rem;
  color: #eaeae7;
  font-size: 1.6rem;
  font-weight: 100;
}
.main__flow {
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 1366px) {
  .main__flow-first-child {
    order: 2;
  }
}
.main__categories-wrapper {
  background: #23252f;
  padding: 0 2rem;
  margin-bottom: 4rem;
}
.main__categories::-webkit-scrollbar {
  height: 4px;
}
.main__categories::-webkit-scrollbar-track {
  border-radius: 100rem;
}
.main__categories::-webkit-scrollbar-thumb {
  background: #fac646;
  border-radius: 100rem;
}
.main .button-restocked {
  color: #23252f;
  background: #fac646;
  font-size: 1.6rem;
  border-radius: 0;
  padding: 0.5rem;
  text-align: center;
  border: none;
  max-width: 250px;
  margin: 3rem auto;
}

.bestsellers {
  background: #23252f;
  color: #eaeae7;
  display: grid;
  grid-auto-flow: column;
  margin: 0 1rem;
}
@media (min-width: 1366px) {
  .bestsellers {
    margin: 0 3rem;
  }
}
.bestsellers__add {
  color: #23252f;
  background: #fac646;
  font-size: 1.2rem;
  border-radius: 0;
  padding: 0.5rem;
  text-align: center;
  border: none;
}
.bestsellers__link {
  grid-area: 1/1;
}
.bestsellers__img-container {
  min-width: 13rem;
  max-width: 14rem;
  height: 14rem;
}
.bestsellers__product-img {
  width: 100%;
  height: 100%;
}
.bestsellers__data {
  justify-self: start;
}
.bestsellers__price {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.bestsellers__name {
  font-size: 1.6rem;
}

.product {
  position: relative;
  background: #1a1d22;
  display: flex;
  border-radius: 2px;
  min-height: 10rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.product__quantity {
  font-size: 1.2rem;
}
.product__container-img {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 5px 0 0 5px;
}
.product__data {
  flex: 1;
  color: #eaeae7;
  background: #1a1d22;
}
.product__price {
  font-size: 2.1rem;
  color: #eaeae7;
}
.product__name {
  font-size: 1.6rem;
  padding: 1rem 0;
  text-transform: capitalize;
}
.product__description {
  font-size: 1.2rem;
  font-weight: 100;
}
.product__description::first-letter {
  text-transform: uppercase;
}
.product__icon-add {
  position: absolute;
  top: 0.5rem;
  color: #eaeae7;
  font-size: 1.7rem;
  right: 0.5rem;
}
.product__add {
  background: transparent;
  border: none;
  color: #eaeae7;
}
.product__add:focus {
  background-color: #fac646;
  color: #23252f;
}
.product__action {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.product .fa-plus {
  font-size: 2.1rem;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 5;
  bottom: 0;
}
@media (min-width: 1366px) {
  .menu {
    display: none;
  }
}
.menu__logo {
  display: none;
}
.menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1d22;
  padding: 1.5rem 2.5rem;
}
.menu__flow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu__item {
  text-align: center;
  position: relative;
}
.menu__item .fa-home,
.menu__item .fa-shopping-basket,
.menu__item .fa-user,
.menu__item .fa-sign-in-alt {
  color: #eaeae7;
}
.menu__describe {
  color: #eaeae7;
  font-weight: 200;
  font-size: 1.5rem;
}
.menu__item--active {
  color: #fac646;
}
.menu__item--active .fa-home,
.menu__item--active .fa-shopping-basket,
.menu__item--active .fa-user,
.menu__item--active .menu__describe {
  color: inherit;
}
.menu__item-basket-icon {
  position: absolute;
  background: #fa4646;
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  top: -0.9rem;
  right: -0.5rem;
}
.menu__item-basket-total {
  color: #eaeae7;
  font-size: 1.2rem;
  line-height: 2rem;
}

.footer {
  color: #eaeae7;
  background: #1a1d22;
  padding: 2rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  list-style: none;
}
.footer__copy {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
}
.footer__item {
  margin-top: 1rem;
  font-size: 1.6rem;
}
.footer__section {
  flex: 1;
}
.footer__section--right {
  border-left: 1px solid #fac646;
}
.footer__section--right .footer__list .footer__item {
  text-align: right;
}

.link-back {
  font-size: 1.6rem;
  color: #eaeae7;
  margin-bottom: 2rem;
  display: inline-block;
}

.products-container {
  padding: 2rem;
  background: #31343a;
  min-height: 100vh;
}
.products-container__title {
  color: #eaeae7;
  font-size: 1.8rem;
}
.products-container__name {
  font-weight: 900;
  color: #fac646;
}
.products-container__select {
  background: #1a1d22;
  color: #eaeae7;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
}
.products-container__option {
  margin-top: 2rem;
  font-size: 1.7rem;
  color: #eaeae7;
}
.products-container__current {
  text-transform: capitalize;
}

.all-products {
  background: #31343a;
  height: auto;
  overflow-x: hidden;
  overflow: auto;
}
.all-products__wrapper-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8rem 5rem;
  margin: 4rem auto;
}
@media (min-width: 1366px) {
  .all-products__wrapper-products {
    max-width: 1200px;
  }
}
@media (min-width: 1920px) {
  .all-products__wrapper-products {
    max-width: 1700px;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .all-products__wrapper-products {
    padding: 3rem;
  }
}
.all-products__select-actions {
  text-align: center;
}
@media (min-width: 1366px) {
  .all-products__select-actions--desktop {
    display: none;
  }
}
.all-products__container-search {
  border-radius: 100rem;
  background: #fac646;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-content: center;
}
.all-products__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all-products__actions .fa-search {
  color: #000;
}
.all-products__container-input {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #1a1d22;
}
.all-products__container-icon {
  padding: 1rem;
  border-radius: 10rem 0rem 0rem 10rem;
}
.all-products__input {
  padding: 0.5rem;
  width: 100%;
  border: none;
  background-color: #1a1d22;
  color: #eaeae7;
  font-size: 1.6rem;
}
.all-products .fa-arrow-left {
  color: #eaeae7;
}
.all-products__select {
  background: #23252f;
  border: none;
  padding: 1rem;
  color: #fff;
  text-transform: capitalize;
}
.all-products__select--left {
  margin-left: 1rem;
}
.all-products__container-information {
  margin-bottom: 10rem;
}
.all-products__information {
  color: #eaeae7;
  font-size: 1.6rem;
  text-align: center;
}
.all-products__information-category {
  color: #fac646;
}
.all-products__search {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #23252f;
  width: 100%;
  height: 100vh;
  padding: 2rem;
}
.all-products__results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem 4rem;
  overflow-y: scroll;
  max-height: 90vh;
  padding-bottom: 15rem;
  padding: 2rem;
}
.all-products__results::-webkit-scrollbar {
  height: 1px;
  width: 1rem;
}
.all-products__results::-webkit-scrollbar-track {
  border-radius: 100rem;
}
.all-products__results::-webkit-scrollbar-thumb {
  background: #fac646;
  border-radius: 100rem;
}
.all-products__loading-status {
  font-size: 1.6rem;
  color: #eaeae7;
  padding: 1rem 0;
}
.all-products__loading-item {
  color: #fac646;
  font-weight: 500;
}
.all-products__loading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.all-products__recent-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.all-products__recent {
  font-size: 1.6rem;
  color: #eaeae7;
  display: flex;
  margin: 1rem;
  padding: 0.5rem 0;
  justify-content: space-between;
}
.all-products__recent-item {
  background-color: #31343a;
  border-radius: 100rem;
  font-size: 1.6rem;
  color: #eaeae7;
  padding: 0.9rem;
  margin: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.all-products__btn-remove {
  border: none;
  color: #fa4646;
  background: transparent;
  font-size: 1.6rem;
  margin-left: 0.5rem;
}
.all-products__search-btn {
  background: transparent;
  border: none;
  color: #eaeae7;
  margin-left: 1rem;
  padding: 0 0 0.5rem;
}
.all-products__search-btn .fa-search,
.all-products__search-btn .fa-microphone,
.all-products__search-btn .fa-microphone-slash,
.all-products__search-btn .fa-circle {
  font-size: 1.6rem;
}
.all-products__search-btn .fa-circle {
  color: #fa4646;
}
.all-products__search-btn--mic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-products__container-input:focus-within {
  outline: 2px solid #fac646;
  outline-offset: 3px;
}
.all-products__input:focus {
  outline: none;
}

.custom__scrollBar {
  display: flex;
  background: #23252f;
  overflow-x: scroll;
  padding: 1rem 1rem 2rem 0;
}

.custom__scrollBar::-webkit-scrollbar {
  height: 5px;
}

.custom__scrollBar::-webkit-scrollbar-track {
  border-radius: 100rem;
}

.custom__scrollBar::-webkit-scrollbar-thumb {
  background: #fac646;
  border-radius: 100rem;
}

.isBottom {
  margin-bottom: 5rem;
}

.close {
  height: 3rem;
  width: 3rem;
  border-radius: 100rem;
  background: tomato;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 20;
}

.container-form {
  background: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form > div {
  text-align: right;
}

.container-form > div > label {
  display: block;
  background: #23252f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}

.container-form > div > label > input {
  margin-left: 40px;
  padding: 0.7rem 1rem;
}

.container-form > div > button {
  background: #040442;
  color: #fff;
  padding: 1rem 4rem;
  border: 2px solid #444444;
  font-size: 18px;
  margin-top: 10px;
}

@media (min-width: 1366px) {
  .auth {
    display: flex;
    min-height: 100vh;
  }
}
.auth__login {
  display: grid;
  place-content: center;
}
.auth__signIn {
  background-color: #fac646;
  color: #23252f;
  display: grid;
  place-content: center;
}
@media (min-width: 1366px) {
  .auth__signIn {
    display: flex;
    align-items: center;
  }
}
.auth__signUp {
  background-color: #31343a;
  color: #eaeae7;
}
@media (min-width: 1366px) {
  .auth__signUp {
    display: flex;
    align-items: center;
  }
}
.auth__method-main {
  min-width: 350px;
  display: grid;
  place-items: center;
}
.auth__toggle-box {
  display: grid;
  place-content: center;
}
.auth__toggle-txt {
  font-size: 2.1rem;
  max-width: 220px;
  text-align: center;
}
.auth__toggle-btn {
  color: #eaeae7;
  background-color: transparent;
  border: 2px solid #eaeae7;
  border-radius: 100rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 1.6rem;
}
.auth__header {
  font-size: 2.8rem;
  color: #fac646;
}
.auth__header--active {
  color: #31343a;
}
.auth__button {
  min-width: 220px;
}
.auth__button--action {
  color: #fac646;
  background-color: #23252f;
  font-size: 1.6rem;
  border-radius: 100rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  border: none;
}
.auth__button-signin {
  background: #31343a;
  font-size: 3.7rem;
}
.auth__option-txt {
  font-size: 1.6rem;
}
.auth__google {
  font-size: 2.8rem;
  margin: 2rem 0;
}
.auth__forgot-password {
  min-width: 220px;
  margin-top: 2rem;
  text-align: right;
  font-size: 1.6rem;
}
.auth__form {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
}

.label {
  border-radius: 5px;
  background: #23252f;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  transition: transform 0.3s ease-in-out;
}
.label .fa-user,
.label .fa-envelope,
.label .fa-lock {
  font-size: 1.6rem;
  color: #fff;
}
.label__input {
  background: #23252f;
  border: none;
  width: 90%;
  padding: 1rem;
  color: #eaeae7;
}
.label__input:focus {
  outline: none;
}
.label__input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #1a1d22 inset;
  -webkit-text-fill-color: #eaeae7;
}

.error {
  margin-top: 0.5rem;
  color: #fa4646;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.error--lower {
  margin-top: 1.5rem;
}

.label--focused {
  transform: scale(1.05);
}

.settings {
  background-color: #31343a;
  min-height: 100vh;
}
.settings__section {
  background-color: #1a1d22;
  margin: 2rem 0;
  padding: 2rem 1rem;
}
.settings__txt--dimmed {
  color: #929292;
  font-size: 1.6rem;
}
.settings__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.settings__change-btn {
  border: none;
  background: transparent;
  color: #fac646;
}
.settings__header-medium {
  color: #eaeae7;
  text-align: center;
}
.settings__joined-date {
  text-align: center;
  color: #fac646;
  font-size: 2.1rem;
}
.settings__shipping-address-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}
.settings__payments-methods {
  background: #1a1d22;
  padding: 1rem;
}
.settings__txt--header {
  color: #eaeae7;
  font-size: 1.6rem;
}
.settings .fa-city,
.settings .fa-map-marker,
.settings .fa-phone-alt,
.settings .fa-envelope,
.settings .fa-mountain,
.settings .fa-road {
  color: #fff;
  font-size: 1.6rem;
}

.single {
  background: #31343a;
  color: #eaeae7;
  min-height: 100vh;
  overflow: hidden;
}
@media (min-width: 1366px) {
  .single {
    display: grid;
    gap: 2rem 4rem;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1700px;
    margin: 0 auto;
    padding: 8rem 0;
  }
}
.single__product-container-img {
  position: relative;
  justify-self: end;
}
@media (min-width: 1366px) {
  .single__product-container-img {
    height: 40rem;
    width: 40rem;
    grid-column: 1/5;
  }
}
@media (min-width: 1366px) and (min-width: 1366px) {
  .single__content {
    grid-column: 5/7;
  }
}
.single__image-count {
  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: 2px;
  background: #d0d0d0;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #23252f;
}
.single__slide {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
}
.single__slide:focus {
  color: #fac646;
  outline: none;
}
.single__slide-pre {
  left: 1rem;
}
.single__slide-next {
  right: 1rem;
}
.single__header {
  background-color: #23252f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.single__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.single__name {
  font-size: 2.1rem;
}
.single__specification {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 100;
}
.single__price {
  font-size: 3.7rem;
  margin-top: 2rem;
}
.single__reviews {
  margin-top: 2rem;
  color: #fac646;
  font-size: 1.6rem;
}
.single__container-configuration {
  display: flex;
  margin: 2rem 0;
  align-items: center;
}
.single__content, .single__description, .single__clients-opinions, .single__similar-container {
  background: #23252f;
  padding: 2rem 1rem;
}
@media (min-width: 1366px) {
  .single__clients-opinions {
    grid-row: 3/4;
    grid-column: 1/5;
  }
}
.single__description {
  margin: 2rem 0;
}
@media (min-width: 1366px) {
  .single__description {
    align-self: start;
    grid-column: 5/7;
    grid-row: 2/3;
    margin-top: 0;
  }
}
@media (min-width: 1366px) {
  .single__similar-container {
    grid-column: 1/5;
    grid-row: 2/3;
    align-self: start;
  }
}
.single__container-btn {
  text-align: right;
}
.single__element {
  margin-top: 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single__marked {
  color: #929292;
}
.single__clients-opinions {
  margin-top: 2rem;
}
.single__opinion {
  padding: 1rem;
  margin-top: 3rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #eaeae7;
}
.single__header-opinion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #929292;
}
.single__content-opinion {
  margin-top: 2rem;
}
.single__similiar-container {
  margin-top: 2rem;
}
.single__similar-header {
  margin-top: 2rem;
  padding: 1rem;
  background: #23252f;
}
<<<<<<< HEAD
.single__button {
  color: #23252f;
  background: #fac646;
  font-size: 1.6rem;
  border-radius: 0;
  padding: 1rem;
  text-align: center;
  border: none;
}

=======
>>>>>>> c73fd21b2612f130af23e955364ec5d541cb0b42
.single__counter {
  display: flex;
  border: 1px solid #fff;
  border-radius: 100rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  height: 3rem;
}
@media (min-width: 768px) {
  .single__counter {
    width: 30%;
  }
}
@media (min-width: 1366px) {
  .single__counter {
    width: 40%;
  }
}
.single__action {
  width: 20%;
  line-height: 3rem;
  text-align: center;
  background: transparent;
  border: none;
  color: #eaeae7;
}
.single__action:focus {
  outline: none;
}
.single__choose-amount {
  line-height: 3rem;
  color: #eaeae7;
}
.single__amount {
  margin-left: 2rem;
  color: #929292;
  font-size: 1.6rem;
}
.single__action-plus {
  border-left: 1px solid #fff;
}
.single__action-minus {
  border-right: 1px solid #fff;
}
.single__button {
  color: #23252f;
  background: #fac646;
  font-size: 1.6rem;
  border-radius: 2px;
  padding: 1rem;
  text-align: center;
  border: none;
}

.cart {
  background: #31343a;
  min-height: 100vh;
  max-height: auto;
}
@media (min-width: 1366px) {
  .cart {
    display: grid;
    grid-template-columns: 350px 1fr 1fr 350px;
  }
}
.cart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #23252f;
  padding: 1rem;
  color: #eaeae7;
}
@media (min-width: 1366px) {
  .cart__items {
    grid-column: 2/3;
    width: 100%;
    margin: 0 auto;
  }
}
.cart__title {
  font-size: 2.8rem;
  font-weight: 300;
}
.cart__items {
  padding: 1rem;
}
.cart__remove-btn {
  background: transparent;
  border: none;
  color: #eaeae7;
}
.cart__total-wrapper {
  background: #23252f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  min-height: 50px;
  bottom: 0;
  bottom: 7.7rem;
  width: 100%;
}
@media (min-width: 1366px) {
  .cart__total-wrapper {
    grid-column: 3/4;
    align-self: start;
    justify-self: center;
    flex-flow: column;
    width: 50%;
  }
}
.cart__btn {
  background: #fac646;
  color: #23252f;
  font-size: 1.6rem;
  border: none;
  border-radius: 100rem;
  padding: 0.5rem;
  font-weight: 300;
}
.cart__total-desc {
  color: #eaeae7;
  font-size: 2.1rem;
}

.order {
  min-height: 100vh;
  background: #31343a;
}
.order__shipping-container {
  background: #1a1d22;
  margin-top: 2rem;
  color: #eaeae7;
  padding: 1rem;
}
.order__shipping {
  font-size: 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__shipping-change {
  color: #fac646;
  font-size: 1.6rem;
}
.order__address-user {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #929292;
}
.order__payment-container {
  margin-top: 2rem;
}
.order__payment-method {
  font-size: 2.1rem;
  color: #eaeae7;
  padding: 1rem;
}
.order__container-methods {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.order__method {
  min-width: 10rem;
  max-width: 14rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order__method-img {
  width: 6rem;
}
.order__method--active {
  border: 1px solid #fac646;
  box-shadow: 0 0 10px -2px #fac646;
}
.order__items {
  background: #1a1d22;
  margin-top: 6rem;
  padding: 1rem;
  color: #eaeae7;
}
.order__summary {
  background: #1a1d22;
  margin-top: 2rem;
  color: #eaeae7;
  padding: 1rem;
}
.order__title {
  font-size: 2.1rem;
}
.order__info {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #929292;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__message--saved {
  font-size: 1.6rem;
  padding: 2rem 0;
}
.order__total {
  color: #eaeae7;
  font-weight: bolder;
}
.order__bar {
  background: #23252f;
  padding: 2rem 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eaeae7;
  font-size: 1.6rem;
}
.order__btn {
  background: #fac646;
  color: #23252f;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: none;
  align-self: flex-end;
}
.order__shipping-data {
  text-align: center;
}
.order__enter {
  font-size: 1.6rem;
}
.order__label {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.order__input {
  background: #31343a;
  border: none;
  padding: 0.5rem;
}
.order .fa-user,
.order .fa-road,
.order .fa-map-marker,
.order .fa-envelope,
.order .fa-gavel,
.order .fa-phone-alt {
  font-size: 1.6rem;
  color: #eaeae7;
}
.order__table {
  color: #929292;
  background-color: #1a1d22;
  border-radius: 3px;
  font-size: 1.6rem;
  text-align: left;
  margin: 4rem 0.5rem;
  border-collapse: collapse;
}
.order__table-id {
  color: #fac646;
  font-weight: 700;
}
.order__table td,
.order__table th {
  border: 1px solid #929292;
  padding: 1rem;
}
.order__table td {
  width: 100%;
  color: #eaeae7;
  border-right: none;
}
.order__table th {
  border-left: none;
}
.order__table-orderId {
  text-align: center;
  padding: 2rem;
  font-size: 2.1rem;
}
.order__list {
  list-style: none;
}
.order__list li {
  display: flex;
  justify-content: space-between;
  color: #929292;
}
.order__list li span {
  color: #eaeae7;
}
.order__rate {
  color: #929292;
  text-align: center;
}
.order__rate::first-letter {
  color: #fac646;
}
.order__link {
  text-decoration: underline;
}
.order__list-wrapper {
  margin-bottom: 1rem;
}
.order__review {
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
}
.order__review-header {
  margin: 2rem 0;
}
.order__review-area {
  resize: none;
}
.order__select-wrapper {
  margin: 2rem 0;
}
.order__select {
  display: flex;
  align-items: center;
}
.order__select-desc {
  color: #eaeae7;
  font-size: 1.2rem;
  margin: 0.25rem 0 0 1rem;
}
.order__message {
  color: #eaeae7;
  font-size: 1.6rem;
  text-align: center;
  margin: 1rem 0;
}

.payment {
  background: #31343a;
  color: #eaeae7;
  min-height: 100vh;
}
.payment__main {
  margin-top: 2rem;
}
.payment__wrapper {
  margin-top: 2rem;
  padding: 1rem;
  background: #1a1d22;
}
.payment__heading {
  font-size: 2.1rem;
  color: #eaeae7;
  font-weight: 400;
}
.payment__button {
  background: transparent;
  border-radius: 0;
  height: 100%;
  border: none;
  color: #fac646;
  margin: 1rem 0;
}
.payment__button--fully {
  background: #fac646;
  color: #23252f;
  padding: 1rem;
  margin: 0;
}
.payment__button--border {
  border: 2px solid #fac646;
  color: #eaeae7;
  padding: 0.5rem;
  margin: 0;
}
.payment__button-toPay {
  width: 100%;
}
.payment__action {
  margin-top: 1rem;
  text-align: right;
}
.payment__button--gray {
  color: #929292;
  margin-right: 1rem;
}
.payment__button--add {
  color: #48d118;
  text-decoration: underline;
}
.payment__parent-card {
  padding: 1rem;
  background: #1a1d22;
  border: 1px solid #fff;
  flex: 1;
}
.payment__attach-form {
  padding: 1rem;
}
.payment__card-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment__method {
  margin: 1rem 0;
}
.payment__form-card {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.payment__card-container {
  margin-top: 2rem;
}
.payment__warning {
  color: #fa4646;
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem 0;
}
.payment__price {
  font-weight: 700;
}
.payment__back {
  font-size: 1.6rem;
  margin-left: 1rem;
}
.payment__link-text {
  padding-left: 0.5rem;
}
.payment__select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  margin: 2rem 0;
}
.payment__select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #d0d0d0;
}
.payment__select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #eaeae7;
  background: #23252f;
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #d0d0d0;
}
.payment__select-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #d0d0d0;
  border-top: 0;
  background: #23252f;
  transition: opacity 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  list-style-type: none;
}
.payment__select-options--open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.payment__select-option {
  position: relative;
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #eaeae7;
  padding: 1rem;
  cursor: pointer;
}
.payment__remove {
  padding: 0 1rem;
}
.payment__select-option:hover {
  cursor: pointer;
  background-color: #fac646;
  color: #23252f;
}
.payment .fa-arrow-left {
  color: #eaeae7;
}

.checkout {
  background: #31343a;
  min-height: 100vh;
}
.checkout__wrapper {
  margin: 0 1rem;
}
.checkout__main {
  margin-top: 4rem;
  background: #1a1d22;
  min-height: 40vh;
  border-radius: 3px;
  color: #eaeae7;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.checkout__desc {
  font-size: 1.6rem;
  color: #929292;
}
.checkout__link {
  font-size: clamp(1.2rem, 5vw, 3.7rem);
  color: #eaeae7;
}
.checkout__history {
  align-self: flex-end;
  color: #eaeae7;
  font-size: 1.6rem;
}
.checkout__history-link {
  color: #fac646;
  font-weight: 500;
}
.checkout__footer {
  color: #929292;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 4rem;
}
.checkout__link--highlight {
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
  color: #fac646;
  font-weight: 500;
}
.checkout__information, .checkout__back {
  background: #1a1d22;
  padding: 1rem;
  margin: 3rem 1rem;
  color: #929292;
  font-size: 1.6rem;
  border-radius: 5px;
}
.checkout__img {
  text-align: center;
}
.checkout__fail-link {
  color: #fac646;
  text-align: right;
  display: inline-block;
  width: 100%;
}
.checkout__status {
  font-size: 2.1rem;
  color: #eaeae7;
  text-align: center;
}
.checkout__marked {
  color: #fa4646;
  font-weight: 900;
}
.checkout .fa-long-arrow-alt-right,
.checkout .fa-home,
.checkout .fa-envelope {
  margin-left: 0.5rem;
}

.history {
  margin-top: 5rem;
  position: relative;
}
.history__single-order {
  margin-top: 2rem;
  border-bottom: 1px solid #fff;
}
.history__item-name {
  font-size: 2.1rem;
}
.history__single-item {
  margin-top: 1.5rem;
}
.history__item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.history__item-quantity {
  color: #929292;
  font-size: 1.6rem;
}
.history__item-price {
  font-size: 1.6rem;
  color: #eaeae7;
}
.history__order-info {
  margin-top: 4rem;
}
.history__info-wrapper {
  margin: 2rem 0;
}
.history__order-details {
  color: #929292;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.history__details-price {
  color: #fac646;
  font-weight: 700;
}
.history__order-status {
  display: flex;
  justify-content: space-between;
  font-size: 2.1rem;
  color: #eaeae7;
  margin-bottom: 2rem;
}
.history__container-actions {
  text-align: right;
}
.history__delete-btn {
  background: #fa4646;
  color: #eaeae7;
  border: none;
  padding: 0.5rem;
  margin: 2rem 0;
}
.history__info {
  text-align: center;
  color: #929292;
  font-size: 1.6rem;
}

.search__wrapper {
  display: flex;
  align-items: center;
  background: #23252f;
  padding: 1.5rem;
  margin: 4rem 2rem;
}
.search__icon {
  margin-right: 1rem;
}
.search-text {
  font-size: 1.6rem;
  color: #929292;
  padding-top: 0.25rem;
}
.search .fa-search {
  color: #929292;
  font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Hind", sans-serif;
  scroll-behavior: smooth;
}
@media (min-width: 1366px) {
  html {
    font-size: 11px;
  }
}

body {
  background: #31343a;
}

h3 {
  font-size: 2.8rem;
  color: #fac646;
}

h4 {
  font-size: 2.1rem;
  color: #eaeae7;
  font-weight: 400;
}

h5 {
  font-size: 1.6rem;
  color: #eaeae7;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Basic typography style for copy text
 */
.animation {
  font-size: 1.2rem;
  font-weight: 500;
}

.rotate {
  display: grid;
  place-content: center;
  width: 100%;
  position: relative;
  padding-top: 2rem;
}
.rotate__wrapper {
  border-radius: 100rem;
  display: grid;
  place-content: center;
  width: 9rem;
  height: 9rem;
  border: 3px solid #fac646;
  border-bottom-color: transparent;
  grid-area: 1/1;
}
.rotate__title {
  font-size: 1.6rem;
  font-weight: 500;
  grid-area: 1/1;
  place-self: center;
}

.scalebutton {
  grid-area: 1/1;
  z-index: 4;
  place-self: start end;
}

.button {
  color: #23252f;
  background-color: #fac646;
  border-radius: 100rem;
  border-color: transparent;
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 1.6rem;
}

.button--active {
  color: #23252f;
  background-color: transparent;
  border-radius: 100rem;
  border-color: #23252f;
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 1.6rem;
}

.header {
  background-color: #1a1d22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.header__logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #fac646;
}
.header__menu-items {
  margin: 0 1rem;
  position: relative;
  color: #eaeae7;
  font-size: 1.6rem;
}
.header__menu-items .fa-shopping-basket,
.header__menu-items .fa-user {
  font-size: 1.6rem;
  margin-right: 1rem;
}
.header__menu-child::after {
  content: "";
  position: absolute;
  right: -1rem;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #d0d0d0;
}

.page__title-h2 {
  font-size: 2.1rem;
  color: #eaeae7;
  font-weight: 200;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star__single {
  margin-left: 1.5rem;
  font-size: 2.8rem;
  color: #929292;
}
.star__single--selected {
  color: #fac646;
}

/*# sourceMappingURL=main.css.map */
