$font-clr: #eaeae7;
$font-white-clr: #f8f8f8;
$font-gray-clr: #929292;
$font-yellowish-clr: #fef9f0;
$font-red-clr: #fa4646;

$fs-100: 0.9rem;
$fs-200: 1.2rem;
$fs-300: 1.6rem;
$fs-400: 2.1rem;
$fs-500: 2.8rem;
$fs-600: 3.7rem;
$fs-700: 5rem;
