@use '../abstracts/colors' as c;
@use '../abstracts/fonts' as fs;

@mixin displayGrid() {
  display: grid;
  place-content: center;
}

@mixin shortLine() {
  content: '';
  position: absolute;
  right: -1rem;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: c.$light-gray;
}

@mixin btnFull($ft-size: fs.$fs-300, $paddingD: 1rem, $border: 0) {
  color: fs.$font-dark-gray;
  background: c.$main-yellow;
  font-size: $ft-size;
  border-radius: $border;
  padding: $paddingD;
  text-align: center;
  border: none;
}
@mixin btnEmpty($ft-size: fs.$fs-300, $paddingD: 1rem, $border: 0) {
  color: fs.$font-clr;
  font-size: $ft-size;
  border-radius: $border;
  background: transparent;
  border: 2px solid c.$main-yellow;
  padding: $paddingD;
  text-align: center;
  border-radius: 2px;
}
