// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$border-width: 2px;
$auth-form: 350px;
$auth-form-items: 220px;
